[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
faker = "*"
sqlalchemy="*"
sqlalchemy-serializer = "*"
flask-restful = "0.3.9"
flask-cors = "3.0.10"
honcho = "1.1.0"
gunicorn = "*"
flask-bcrypt = "1.0.1"

[dev-packages]

[requires]
python_full_version = "3.8.13"