.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .welcome-container {
    text-align: center;
    transform: translateY(-80px);
  }
  
  .welcome-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .welcome-message {
    font-size: 1.2rem;
    color: #666;
  }

  .color-shift-effect {
    position: absolute;
    top: -17px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background 0.3s ease; /* Add transition for color change */
    z-index: -1;
}

.color-shift-effect-active {
    background: transparent
}