/* InboxCard.css */

.card-container {
    border-bottom: 1px solid #ccc; /* Add border lines between cards */
  }
  
  .inbox-name {
    font-size: 18px; /* Increase font size */
    font-weight: bold; /* Make the font bold */
  }