/* Messenger Container */
.messenger-container {
  display: flex;
  height: calc(100vh - 120px); /* Adjust as needed, considering the border and spacing */
  width: calc(100% - 40px); /* Adjust as needed, considering the border and spacing */
  margin: 20px; /* Add a 20px margin to create the border and spacing */
  border-radius: 10px; /* Add rounded borders */
}

.messenger-frame-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  min-width: 215px;
  width: 75%; /* Adjust width to fill remaining space */
  border-radius: 10px; /* Add rounded borders */
  border: 0.5px solid #ccc; /* Add a light grey border */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: #fbfbfb; /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Blur effect with 10px radius */
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.messenger-frame-container::-webkit-scrollbar {
  display: none;
}

/* Message Cards Container */
.message-cards-container {
  flex: 1; /* Take remaining space */
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 1; /* Set a higher z-index to place it above the blurred background */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.message-cards-container::-webkit-scrollbar {
  display: none;
}

.contact-wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 60px;
  z-index: 2; /* Set a higher z-index to place it above the blurred background */
}

.contact-background-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -o-backdrop-filter: blur(20px);
  -ms-backdrop-filter: blur(20px);
  z-index: 3; /* Set a lower z-index to place it behind the contact header */
}

.contact-overlay {
  width: 100%;
  height: 100%;
  background: rgba(245, 245, 245, 0.78);
  position: absolute;
  z-index: 4;
}

.contact-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 5; /* Set a higher z-index to place it above the blurred background */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.contact-name {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.0);;
}

.messenger-frame-container .textbox-wrapper {
  position: absolute;
  bottom: 0; /* Stick the text box to the bottom of the messenger frame container */
  width: 100%;
  z-index: 5;
}

.messenger-frame-container .contact-wrapper {
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 2; /* Set a higher z-index to place it above the blurred background */
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.spinner-wrapper {
  display: flex;
  transform: translateY(-50px) scale(2);
  justify-content: center;
  align-items: center;
}