.navbar {
    background-color: #5EA2E4;
    user-select: none;
    padding: 10px 0;
    height: 60px; /* Updated height */
    width: 100vw;
}

.navbar-container {
    font-weight: 600; /* Updated font weight */
    font-size: 20px; /* Updated font size */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Adjusted padding */
}

.nav-header {
    color: #f9f9f9; /* Updated color */
    margin-top: -7.5px;
    text-decoration: none;
    font-size: 80px; /* Updated font size */
    font-weight: 700;
}

.nav-links {
    display: flex;
    margin-right: 20px;
}

.nav-links .nav-link {
    color: #f9f9f9; /* Updated color */
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px; /* Updated font size */
}

.nav-links .nav-link:hover {
    color: #DCD92E; /* Hover color */
}