.navbar {
    background-color: #5EA2E4;
    padding: 10px 0;
    height: 60px; /* Updated height */
    width: 100vw;
}

.navbar-container {
    font-weight: 600; /* Updated font weight */
    font-size: 20px; /* Updated font size */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Adjusted padding */
}

.nav-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px; /* Updated font size */
    color: #DCD92E; /* Updated color */
    text-decoration: none;
    margin-left: 10px;
}

.nav-button:hover {
    color: #F5F5F5; /* Hover color */
}

.nav-links {
    display: flex;
}

.nav-links .nav-link {
    color: #F5F5F5; /* Updated color */
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px; /* Updated font size */
}

.nav-links .nav-link:hover {
    color: #DCD92E; /* Hover color */
}