/* TextBox.css */

.textbox-background-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);

}

.textbox-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.5)); /* Gradient from more opaque (left) to less opaque (right) */
}

.textbox-container {
  position: relative;
  min-height: 40px;
  height: auto;
  margin: 10px;
  border: .5px solid lightgrey;
  background-color: #fefefac8;
  border-radius: 20px;
}

.textbox-input-container {
  display: flex; /* You may adjust this based on your layout requirements */
  align-items: stretch;
}

.textbox-input-container textarea {
  position: relative;
  background-color: transparent;
  flex-grow: 1;
  margin-left: 5px;
  border-radius: 15px;
  border: none;
  resize: none; /* Disable resize handle */
  overflow-y: auto; /* Add vertical scrollbar when needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  font-family: Arial, sans-serif; /* Change font family */
  font-size: 16px; /* Change font size */
  line-height: 20px; /* Set line height to match height */
  padding: 10px 110px 7px 7px; /* Add padding */
}

.textbox-input-container textarea::-webkit-scrollbar {
  width: 0; /* Make scrollbar invisible in WebKit browsers */
}

.textbox-input-container textarea:focus {
  outline: none;
}

.textbox-input-container textarea::before,
.textbox-input-container textarea::after {
  content: "";
  display: block;
  height: 10px; /* Adjust the height to set the margin size */
  pointer-events: none; /* Ensure the pseudo-elements do not interfere with interaction */
}

/* Button Wrapper in TextBox.js & EditTextBox.js */
.button-wrapper {
  height: 40px;
  position: absolute; /* Set position to absolute */
  bottom: 0; /* Stick to the bottom */
  right: 0;
}

/* Send Button in TextBox.js & EditTextBox.js */
.send-button {
  height: 34px;
  width: 57px;
  background-color: #5EA2E4;
  border: none;
  border-radius: 50px;
  margin-right: 3px;
  margin-top: 3px;
  transition: background-color 0.3s ease-out;
}
.send-button:hover {
  background-color: #3689dc;
  transition: background-color 0.3s ease;
}

.clock-icon-styling {
  position: relative;
  top: .1px;
  right: .1px;
  margin-right: 1px;
}

.clock-icon-blue {
  color: #3689dc;
}

.clock-icon-styling- {
  color: lightgrey; /* Default color */
  transition: color 0.15s ease-out;
}
.clock-icon-styling-:hover {
  color: #3689dc;
}

.clock-icon-styling-clock-icon-blue{
  color: #3689dc;
  transition: color 0.15s ease;
}


/* Delay Button in TextBox.js */
.delay-button {
  width: 38px;
  height: 40px;
  border: none;
  background-color: transparent;
  border-radius: 50px;
}


/* Close Edit Button in EditTextBox.js */
.close-edit-button {
  width: 23px;
  height: 24px;
  margin-right: 6px;
  margin-top: 2px;
  background-color: transparent;
  border: none;
  border-radius: 50px;
}
.close-edit-button .icon{
  color: lightgrey;
}
.close-edit-button:hover .icon{
  color: #f47d61;
}