

.textbox-background-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px); /* Blur effect with 10px radius */
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.textbox-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.5)); /* Gradient from more opaque (left) to less opaque (right) */
}

.textbox-container {
  position: relative;
  padding: 10px;
}

.textbox-input-container {
  display: flex;
  align-items: stretch;
}

.textbox-input-container input[type="text"] {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border: .5px solid lightgrey;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  align-items: stretch;
}

.textbox-input-container input[type="text"]:focus {
  outline: none;
}


.send-button {
  height: 100%;
  background-color: #EDEDED;
  border: .5px solid lightgrey;
  border-radius: 50px;
  margin-left: 8px;
  width: 60px;
  cursor: pointer;
  transition: opacity 2s ease;
}

.send-button:hover {
  background-color: #DCF8C6;
}

.delay-button {
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: -4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.delay-button:hover .icon {
  color: #DCF8C6; /* Change icon color on hover */
}

.delay-button:hover {
  background-color: transparent; /* Keep background clear on hover */
}

.button-wrapper {
  height: 40px;
}