.textbox-wrapper {
  position: relative;
}

.textbox-background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px); /* Blur effect with 10px radius */
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.textbox-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.5)); /* Gradient from more opaque (left) to less opaque (right) */
  filter: saturate(2); /* Increases saturation by 50% */
  filter: brightness(10); /* Adjust the value as needed */
}

.textbox-container {
  position: relative;
  padding: 10px;
}

.input-container {
  display: flex;
  align-items: stretch;
}

.input-container input[type="text"] {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border: .5px solid lightgrey;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  align-items: stretch;
}

.input-container input[type="text"]:focus {
  outline: none;
}

.text-box-button {
  background-color: #EDEDED;
  border: .5px solid lightgrey;
  border-radius: 50px;
  margin-left: 8px;
  width: 55px;
  cursor: pointer;
}

.text-box-button:hover {
  background-color: #DCF8C6;
}
